# Node.js dependencies
/node_modules

# Prisma generated client
/prisma/generated

# Prisma migrations
/prisma/migrations

# Environment variable files
/.env
/.env.*
*.env

# IDE or Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist
/build

# Coverage output
/coverage