/* Make table container scrollable on small screens */
.table-container {
    width: 100%;               /* Take up full width */
    overflow-x: auto;          /* Enable horizontal scroll when necessary */
    -webkit-overflow-scrolling: touch; /* Smooth scroll on mobile devices */
}

#searchInput {
    max-width: 300px;
}

i {
    cursor: pointer;
    font-style: normal;
    font-size: larger;
}

.expand-row {
    cursor: default;
}

#studentTable tr, select, input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

#supervisorFilterDropdown {
    position: absolute;
    left: 0; /* Aligns it horizontally with the Filter icon */
    z-index: 1050; /* Ensures it appears above other elements */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

#deleteUser {
    float: right;
}

.modal {
    display: none;
}